.footer-socials .social-link, .subscribe-button, .modal, .close-button, .modal-form, .feature-icon-block, .social-link, .client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: #757575;
  outline: none;
  cursor: pointer;
}

button {
  border-radius: 4px;
  border-color: transparent;
}

button:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: #ffffff;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

.logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo-header {
  color: #212121;
}

.logo-footer {
  color: #ffffff;
}

.header-container .logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header-container .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer-container .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.nav-panel {
  position: relative;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover, .menu-button:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-close,
.icon-menu {
  fill: currentColor;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: #ffffff;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ececec;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: auto;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .item {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 8px;
}

.site-nav .item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .site-nav .item {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
  }
}

.site-nav .link {
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: center;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    padding-top: 30px;
    padding-bottom: 34px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.site-nav .current-page {
  color: #2196f3;
}

.site-nav .current-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #2196f3;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-contacts .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .link:hover, .header-contacts .link:focus {
  color: #2196f3;
}

.header-contacts .item {
  margin-bottom: 16px;
}

.header-contacts .item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .header-contacts .item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts .item {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .header-contacts .item:last-child {
    margin-right: 0;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-icon:hover, .contact-icon:focus {
  fill: #2196f3;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-address {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-address {
    margin-left: 76px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer-address {
    text-align: start;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.address {
  display: inline-block;
  margin-bottom: 8px;
  font-style: normal;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .address {
    display: block;
    width: 231px;
    margin-top: 0;
    margin-bottom: 9px;
  }
}

.footer-contacts {
  font-style: normal;
}

.footer-contacts .footer-item:first-child {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts .footer-item:first-child {
    margin-bottom: 9px;
  }
}

.footer-contacts .link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts .link:hover, .footer-contacts .link:focus {
  color: #2196f3;
}

.footer-container b {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-container b {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-socials {
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    width: 206px;
    margin-left: 0;
    margin-right: 93px;
  }
}

.footer-socials .get-us {
  margin-bottom: 17px;
}

.footer-socials .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials .list .social-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .footer-socials .list {
    margin-bottom: 60px;
  }
}

.footer-socials .social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials .social-link:hover, .footer-socials .social-link:focus {
  background-color: #2196f3;
}

.footer-socials .social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-form .subscribe {
  margin-bottom: 17px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 570px;
    height: 86px;
  }
}

.subscribe-input {
  margin-bottom: 20px;
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
  color: #ffffff;
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe-button {
  width: 200px;
  height: 50px;
  outline: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero {
  height: 400px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 280px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 1), screen and (-webkit-min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/hero/img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero/img.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/hero/img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero/img@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/hero/img@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero/img@3x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 768px) and (min-resolution: 96dpi), screen and (min-width: 768px) and (min-resolution: 1dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/hero/img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero/img.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/hero/img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero/img@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/hero/img@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero/img@3x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 1200px) and (min-resolution: 96dpi), screen and (min-width: 1200px) and (min-resolution: 1dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/hero/Img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero/Img.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/hero/Img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero/Img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/hero/Img@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero/Img@3x.jpg);
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .hero-title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
  }
}

.hero-button {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  outline: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 100%;
    max-width: 528px;
    max-height: 581px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .close-button {
    top: 101px;
    right: 23px;
  }
}

.close-button:hover, .close-button:focus {
  outline: transparent;
  color: #2196f3;
}

.close-icon {
  width: 18px;
  height: 18px;
  background-position: center;
  fill: currentColor;
}

.modal-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.callback {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-label {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal-label {
    width: 448px;
  }
}

.modal-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal-input {
    width: 448px;
  }
}

.modal-input:focus {
  outline: transparent;
  border-color: #2196f3;
}

.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.modal-icon {
  position: absolute;
  z-index: 3;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-label {
  margin-bottom: 20px;
}

.modal-input.comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.modal-input.comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input.comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input.comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input.comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

.checkbox-label .checkbox-input:checked + .check-icon {
  background-color: #2196f3;
  background-origin: border-box;
  border: none;
}

.check-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contract-link {
  text-decoration: underline;
  color: #2196f3;
}

.send-button {
  width: 200px;
  height: 50px;
  outline: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.feature-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .feature-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .feature-item {
    width: 100%;
  }
  .feature-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .feature-item:nth-child(2n) {
    margin-right: 0;
  }
  .feature-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature-item {
    width: calc((100% - 90px) / 4);
  }
  .feature-item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-item .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.feature-item .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feature-icon-block {
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.feature-icon {
  max-width: 70px;
  height: 70px;
  background-position: center;
}

@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work-section {
    padding-bottom: 94px;
  }
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work-item {
    position: relative;
    z-index: 0;
    width: calc((100% - 60px) / 3);
  }
  .work-item:not(:last-child) {
    margin-right: 30px;
  }
  .work-description {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 70px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-list .name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team-list .work-position {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .team-item {
    width: 100%;
  }
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team-item:nth-child(2n) {
    margin-right: 0;
  }
  .team-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0px;
  }
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-img {
  width: 100%;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials .social-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .team-list.socials {
    margin-right: 32px;
    margin-left: 32px;
  }
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.client-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .client-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client-item {
  height: 90px;
}

@media screen and (max-width: 767px) {
  .client-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client-item:nth-child(2n) {
    margin-right: 0;
  }
  .client-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client-item:nth-child(3n) {
    margin-right: 0;
  }
  .client-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 150px) / 6);
  }
  .client-item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-link {
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.client-icon {
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */