.client-section {
  @extend %section-padding;
}

.client-list {
  display: flex;
}

.client-item {
  width: calc((100% - 150px) / 6);
  height: 90px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.client-link {
  @extend %flex-center;

  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: $main-icons-color;

  transition: border-color 250ms $time-function, color 250ms $time-function;

  &:hover,
  &:focus {
    border-color: $accent-text-color;
    color: $accent-text-color;
  }
}

.client-icon {
  fill: currentColor;
}
