.feature-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.feature-item {
  @media screen and (max-width: 767px) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    @include calc-2n();
  }

  @media screen and (min-width: $desktop) {
    @include calc-4n();
  }
}

.feature-item .title {
  margin-top: 0;
  margin-bottom: 10px;

  @include font-style(700);
  text-transform: uppercase;

  color: $secondary-text-color;
}

.feature-item .text {
  margin-top: 0;
  margin-bottom: 0;

  @include font-style($height: 1.71);
}

.feature-icon-block {
  @extend %flex-center;

  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: $secondary-bg-color;
}

.feature-icon {
  max-width: 70px;
  height: 70px;
  background-position: center;
}
