.logo {
  font-family: "raleway", sans-serif;
  @include font-style(700, 26px);

  color: $accent-text-color;
}

.logo-header {
  color: $secondary-text-color;
}

.logo-footer {
  color: $title-text-color;
}

.nav-panel .logo {
  margin-right: 93px;
  padding-top: 22px;
  padding-bottom: 27px;
}
