.logo {
  font-family: "raleway", sans-serif;
  @include font-style(700, 24px);

  color: $accent-text-color;

  @media screen and (min-width: $desktop) {
    font-size: 26px;
  }
}

.logo-header {
  color: $secondary-text-color;
}

.logo-footer {
  color: $title-text-color;
}

.header-container .logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer-container .logo {
  display: inline-block;
  margin-bottom: 20px;
}
