$main-text-color: #757575;
$secondary-text-color: #212121;
$title-text-color: #ffffff;
$accent-text-color: #2196f3;
$main-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$accent-bg-color: #2f303a;
$border-color-head: #ececec;
$border-color-elements: #eeeeee;
$main-icons-color: #afb1b8;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
